<h1>About me</h1>
<p>
Тепер ти можеш відкрити файл app/views/pages/info.html.erb і додати інформацію про тебе в HTML. Щоб побачити твою нову сторінку з інформацією, відкрий в браузері http://localhost:3000/pages/info. Якщо користуєшся хмарним сервісом - додай ‘/pages/info’ в кінець посилання для перегляду.</p>
